<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>km to miles converter</title>
</head>
<body>

    <h2>This is a simple km to miles converter.
        <br>Put a desired number in the appropriate space to convert it.
    </h2>

    <form method="post" action="/result">
        km: <input name="km">
        <br>miles: <input name="miles">
        <br><button type="submit">Convert</button>
        <br>
        <!--- <br>The result is: {{result}} -->
    </form>




</body>
</html>